/* site background */

.videoBackgroundBox {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: black;
    animation-duration: 950ms;
    animation-fill-mode: forwards;
}

.videoBackground {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.7);
    animation-duration: 1050ms;
    animation-fill-mode: forwards;
    display: flex;
    justify-content: center;
    align-items: center;
}

.videoTag {
    height: 100%;
    width: 100%;
    z-index: 2;
    object-fit: cover;
    animation: fadeIn 1500ms ease-in-out;
}

/* setup background */

#setupBackground {
    height: auto;
    position: relative;
    width: 100%;
    background-image: url('/images/setup background.jpg');
    background-size: cover; /* Scales the image to cover the element */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Centers the image */
}

#animationPage {
    width: 100%;
    height: auto;
    min-height: 100vh;
    animation: fadeIn 1500ms ease-in-out;
    display: flex;
    background:rgba(0, 0, 0, 0.7);
    flex-direction: column;
}

/* car background */

#carBackground {
    width: 100%;
    z-index: 10;
    height: 100vh;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    animation: fadeIn 500ms ease-in-out;
}

/* header */

#headerBox {
    height: 11vh;
    position: fixed;
    width: 100%;
    background:rgba(0, 0, 0, 0.03);
    z-index: 1111;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    animation: fadeIn 750ms ease-in-out;
    animation-duration: 750ms;
    align-items: center;
}

#headerBox div {
    display: flex;
    gap: 2px;
}

@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes hideEle {
    0% {}
    100% {display: none;}
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes redirectAniBackground {
    0% {background: rgba(0, 0, 0, 0.9);}
    100% {background: black;}
}