/* button for initial page */ 
.cta {
  border: none;
  background: none;
  cursor: pointer;
  user-select: none;
}

.cta span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 30px;
  text-transform: uppercase;
}

.hover-underline-animation {
  position: relative;
  color: white;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
  animation-name: navigatingButtonFadeIn;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scale(0.9);
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* button for cars */ 
#carsButton {
    width: 400px;
    height: 105px;
    overflow: hidden;
    border: none;
    color: #fff;
    background: none;
    position: relative;
    padding-bottom: 4em;
    cursor: pointer;
    animation-fill-mode: forwards;
    animation-duration: 1300;
  }

  #carsButton > div{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
  }
  
  #carsButton:before {
    content: "";
    position: absolute;
    height: 2px;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: scaleX(0);
    transform-origin: bottom right;
    background: currentColor;
    transition: transform 0.25s ease-out;
  }
  
  #carsButton:hover:before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  #carsButton .clone > *,
  #carsButton .text > * {
    opacity: 1;
    font-size: 56px;
    letter-spacing: 4px;
    transition: 0.2s;
    margin: 0px 4px;
  }
  
  #carsButton .clone > * {
    transform: translateY(160px);
  }
  
  #carsButton:hover .clone > * {
    opacity: 1;
    transform: translateY(0px);
    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  }
  
  #carsButton:hover .text > * {
    opacity: 1;
    transform: translateY(-110px);
    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  }
  
  #carsButton:hover .clone > :nth-child(1) {
    transition-delay: 0.15s;
  }
  
  #carsButton:hover .clone > :nth-child(2) {
    transition-delay: 0.2s;
  }
  
  #carsButton:hover .clone > :nth-child(3) {
    transition-delay: 0.25s;
  }
  
  #carsButton:hover .clone > :nth-child(4) {
    transition-delay: 0.3s;
  }

  /* header buttons */ 

  #headerBox button {
    font-size: 32px;
    color: #e4dfdf;
    padding: 0px 15px;
    transition: 0.2s;
    transition-delay: 0.1s;
  }

  #headerBox button:hover {
    scale: 1.1;
    color: white;
    letter-spacing: 2px;
  }

  .btn-shine {
    display: flex;
    align-items: center;
    padding: 2px 15px;
    color: #fff;
    background: linear-gradient(to right, #9f9f9f 0, #fff 6%, #868686 20%);
    background-position: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation-fill-mode: forwards;
    -webkit-text-size-adjust: none;
    font-weight: 500;
    font-size: 38px;
    text-decoration: none;
    white-space: nowrap;
    font-family: "Poppins", sans-serif;
    transition: 0.2s;
    transition-delay: 0.1s;
    animation-fill-mode: forwards;
    letter-spacing: 1px;
    cursor: pointer;
  }

  .btn-shine:hover {
    scale: 1.1;
    -webkit-text-fill-color: #fff;
    font-weight: 100;
  }

  .btn-shine:nth-child(1) {
    animation: shine 6s linear infinite;
  }

  .btn-shine:nth-child(2) {
    animation: shine2 6s linear infinite;
    animation-delay: 2.3s;
  }

  .btn-shine:nth-child(3) {
    animation: shine 6s linear infinite;
    animation-delay: 4.6s;
  }

  #headerBox button {
    height: 80%;
  }

  /* setup buttons */

  /* From Uiverse.io by gagan-gv */ 

#setupButton {
  height: 3.4rem;
  width: 15rem;
  border: none;
  border-radius: 40px;
  background-color: #fff;
  cursor: pointer;
  overflow: hidden;
  cursor: default;
}

#setupButton span {
  cursor: default;
  z-index: 1;
  display: inline-block;
  background-color: #d30c0c;
  height: 3rem;
  width: 15.1rem;
  border-radius: 35px;
  color: #fff;
  line-height: 55px;
  font-size: 19px;
  letter-spacing: 3px;
  transition: all 0.5s;
}

#setupButton .container {
  z-index: -1;
  width: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-50px);
  transition: all 0.4s;
}

#setupButton .container svg {
  padding: 0 12px;
}

#setupButton:hover span {
  width: 0;
}

#setupButton:hover .container {
  z-index: 2;
  width: 100%;
}

#setupButton a {
  cursor: pointer;
}
  /* button animations */

@keyframes navigatingButtonFadeOut {
    0% {opacity: 1;}
    100%{opacity: 0; display: none;}
}

@keyframes navigatingButtonFadeIn {
    0% {opacity: 0; display: none;}
    100%{opacity: 1; display: inline;}
}

@keyframes shine {
  50% {
    background-position: 0;
  }
  100% {
    background-position: 100px;
  }
}

@keyframes shine2 {
  50% {
    background-position: 0;
  }
  100% {
    background-position: 120px;
  }
}
