/* setup elements */

#topLayer {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 6rem;
    color: rgb(241, 241, 241);
}

#setupBackground div div h1 {
    font-size: 16rem;
    letter-spacing: 1rem;
    font-family: "Hubballi", sans-serif;
    font-weight: 900;
}

#setupBackground div div h3 {
    font-size: 3rem;
    font-weight: 200;
}

#secondLayer {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content:  flex-end;
}

#aniBlockElement2 {
    position: relative;
    display: flex;
    height: 50vh;
    width: 65vw;
    background: linear-gradient(129deg, #e5e3e3 50%, #d10707 50%);
    border: 2px solid white;
    border-right: 0px;
    clip-path: polygon(35% 0%, 100% 0%, 100% 100%, 100% 100%, 0% 100%);
}

#imageBox {
    width: 30vw;
    height: 30vh;
    object-fit: cover;
    overflow: hidden;
    z-index: 50;
    top: 36vh;
    transform: translateX(-110%);
    left: 100%;
    position: absolute;
}

#imageBox img {
    height: 100%;
    width: 100%;
}

#fourthLayer {
    height: 48vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}